@font-face { 
    font-family: HeaderMenuFont;
    src: url('fonts/Gill\ Sans\ Bold\ Italic.otf');
    font-family: mainFont;
    src: url('fonts/Gill\ Sans.otf');
    }

body {
    background-color: #081820;
  }

* {
  box-sizing: border-box;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: inline-end;
  }

.row::after {
    content: normal;
    clear: both;
    display: table;
    }

.header {
    font-family: HeaderMenuFont;
    text-align: center;
    background-color: #8f8d90;
    color: #434183;
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: #88c070;*/
  }
  
.menu {
    float: left;  
    font-family: HeaderMenuFont;
    background-color: #8f8d90;
    color: #434183;
    /*overflow: hidden;*/
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.menuitem {
  float: left;
  width: 25%;
  padding: 5px;
}

p {
  font-family: mainFont;
  background-color: #8b9a59;
  border: 3px solid #8f8d90;
  color: #081820;
  padding: 3px;
  float: center;
}

.blinking-cursor {
  animation-name: blink;
  font-family: HeaderMenuFont;
  font-weight: 100;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    color: #434183;
  }
  50% {
    color: transparent;
  }
}